* {
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    box-sizing: border-box;
}
body {
    margin: 0;
}
button {
    margin:0;
    padding: 0;
    outline: none;
    border: none;
}
label {
    user-select: none;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #7DB139;
}
.popup {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 300px;
    background: #1C2A39;
    padding: 18px 0;
    overflow-x: hidden;
    overflow-y: auto;
}
.popup:hover::-webkit-scrollbar-thumb{
    background: #7DB139;
}
.popup .row {
    display: flex;
    justify-content: space-between;
    padding: 5px 38px;
    margin-bottom: 6px;
}
.popup .row:hover {
    background-color: rgba(65,123,159,.1);
    color: #FFF;
}
.popup .row .title {
    font-size: 18px;
    line-height: 21px;
    color: #BDD5DF;
    cursor: default;
}
.popup .row .toggle {
    width: 36px;
    height: 20px;
    cursor: pointer;
    user-select: none;
}
.popup .row .toggle .bg {
    display: flex;
    align-items: center;
    padding: 4px;
    width: 36px;
    height: 20px;
    background: #B2B6B4;
    border-radius: 4px;
}
.popup .row.active .toggle .bg {
    background: #7DB139;
}
.popup .row .toggle .bg .button {
    width: 14px;
    height: 14px;
    background: #EEEEEE;
    border-radius: 4px;
    transform: translateX(0px);
    transition: 0.25s;
}
.popup .row.active .toggle .bg .button {
    transform: translateX(14px);
}
.popup .list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 38px;
}
.popup .list .list-title{
    font-size: 14px;
    line-height: 16px;
    color: #BDD5DF;
    margin-bottom: 3px;
    user-select: none;
}
.popup .list .li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}
.popup .list .li .container {
    display: flex;
    cursor: pointer;
}
.popup .list .li .container .text {
    font-size: 14px;
    line-height: 16px;
    color: #BDD5DF;
}
.popup .list .li .container input {
    margin-right: 6px;
}
.popup .list .li .input {
    width: 154px;
    height: 24px;
    background: #223E53;
    outline: none;
    font-size: 12px;
    line-height: 14px;
    color: #BDD5DF;
    border:none;
}
.popup .list .li .add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    font-size: 14px;
    line-height: 10px;
    color: #000000;
    cursor: pointer;
    user-select: none;
}
.popup .list .addition {
    display: flex;
    justify-content: space-between;
    height: 0px;
    padding-left: 5px;
    margin: 0;
    transition: 0.5s ease-in-out;
    overflow: hidden;
}
.popup .list .addition.active {
    height: 24px;
    margin: 8px 0;
}
.popup .list .addition .input {
    width: 430px;
    height: 100%;
    background: #223E53;
    outline: none;
    font-size: 12px;
    line-height: 14px;
    color: #BDD5DF;
    border: none;
    padding: 4px 12px;
}
.popup .list .addition .input::placeholder {
    font-size: 12px;
    line-height: 14px;
    color: #7e5e5e;
}
.popup .list .addition-btn {
    width: 72px;
    height: 100%;
    background: #EEEEEE;
    border-radius: 4px;
    cursor: pointer;
}
.popup .list .addition-btn:hover {
    background: #90E028;
}
.popup .table {
    width: 100%;
}
.popup .table .tr {
    background: #16202D;
    overflow: hidden;
}
.popup .table .tr .table-title {
    height: 22px;
    font-size: 14px;
    line-height: 16px;
    color: #BDD5DF;  
    padding: 0 10px;
    user-select: none;
}
.popup .table .tr .table-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 22px;
}
.popup .table .tr .table-item .text {
    font-size: 12px;
    line-height: 14px;
    color: #BDD5DF;
}
.popup .table .tr .table-item .table-btn {
    text-align: center;
    font-size: 12px;
    line-height: 10px;
    color: #ff0000;
    background: transparent;
    cursor: pointer;
    user-select: none;
}
.popup .table .tr .table-item .table-btn:hover {
    text-decoration: underline;
}